NODE_ENV=development
PORT=YOUR_PORT_NUMBER

DB_USER=username
DB_NAME=db
DB_PASSWORD=password
DB_PORT=YOUR_PORT_NUMBER
DB_HOST=127.0.0.1

REDIS_HOST=localhost
REDIS_PORT=YOUR_PORT_NUMBER

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://username:password@localhost:5078/db?schema=public"
JWT_SECRET="SUPERDUPERSECRET"
REFRESH_JWT_TOKEN_SECRET="refreshSecret"